<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="vueApp">
        <!-- a renderização condicional do Vue remove realmente o elemento da DOM -->
        <!-- não apenas o deixa oculto -->
        <input v-model="number" type="number" :min="-100" :max="100">
        <div v-if="!number">
            indefinido
        </div>
        <div v-else-if="number < 0">
            número negativo
        </div>
        <div v-else-if="number < 10">
            número positivo e menor que 10
        </div>
        <div v-else>
            número positivo maior igual que 10
        </div>
    </div>
    <!-- Para aplicações Vue é preciso importar o seguinte CDN: -->
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        new Vue({   // intancia do Vue 
            el: '#vueApp',
            data: {
                showDiv: true,
                number: 0
            }
        })
    </script>
</body>

</html>