<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>Games</h1>
        <ul>
            <!-- é possível usar o in ou o of -->
            <!-- game é cada elemento da iteração -->
            <!-- <li v-for="game in games">{{game}}</li> -->
            <li v-for="game of games">{{game}}</li>
        </ul>
        <h1>Games Inverted</h1>
        <ul>
            <li v-for="gameInverted of gamesInverted">{{gameInverted}}</li>
        </ul>
        <div>
            <label>N° do jogo a ser editado: </label>
            <input type="number" v-model.number="edit">
        </div>
        <div>
            <label>Nome do jogo a ser editado: </label>
            <input type="text" v-model="games[edit-1]">
        </div>
        <h1>Game Publishers</h1>
        <ul>
            <li v-for="pub of publishers">{{text}}: {{pub.name}} <br> local: {{pub.location}}</li>
        </ul>
    </div>
    <!-- Para aplicações Vue é preciso importar o seguinte CDN: -->
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                edit: 1,
                text: 'publisher',
                games: [
                    'Sekiro Shadows Die Twice',
                    'The Witcher 3',
                    'Fallout 4',
                    'The Elder Scrols IV Skyrim',
                    'Red Dead Redemption 2',
                    'Halo 4'
                ],
                publishers: [
                    {name: 'Rockstar Games', location: 'USA'},
                    {name: 'Ubisoft', location: 'France'},
                    {name: 'CD Project Red', location: 'Poland'}
                ]
            },
            computed: {
                gamesInverted() {
                    console.log('Computou com sucesso!!');
                    return this.games.map(e => e.split('').reverse().join(''));
                }
            }
        }); 
    </script>
</body>

</html>